.snakemake
.ipynb_checkpoints
.conda
.cache
.jupyter
config/reads
config/style
results/*
!results/df/
results/df/*
!results/df/all_stats*
!results/df/all_scores*
!results/df/avg_scores*
!results/df/distribution_freq/
profiles
logs
post/graphs
post/scripts/__pycache__
